.main-content {
    display: grid;
    grid-gap: 40px;
    place-content: center;
    text-align: center;
    padding-top: 130px;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
  }
  
  .office {
    width: 100%;
  }
  
  .pyramid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  
  .top-picture {
    margin-bottom: 20px;
  }
  
  .bottom-row {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .bottom-picture {
    margin: 0 10px;
  }
  
  .pyramid-container img {
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }
  
  .pyramid-container img:hover {
    transform: scale(1.2);
  }
  
  .description-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
  
  .description-container.show {
    opacity: 1;
    pointer-events: auto;
  }
  
  .description {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    max-width: 500px;
  }
  
  .description img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .description h2 {
    margin-top: 30px;
  }
  
  .description p {
    margin: 0;
    text-align: center;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .wrapper h3 {
    font-size: 24px;
  }
  
  h2 {
    margin-top: 100px;
  }
  