@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

:root {
  --blue: #008CC6;
  --black-bg: #2b2b2b;
  --grey: #AEAEAE;
}

body {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

.background-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* UPPER PART OF THE SITE */

a {
  text-decoration: none;
  color: white;
}

.redirection-buttons a:not(:last-child)::after {
  content: " | ";
  margin: 0 8px; 
}

.upper {
  position: sticky;
  top: 0;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #131313;
  color: white;
  margin: -8px;
}

.logo {
  margin-right: 64px;
  margin-left: auto;
}

.logo-image {
  width: 150px;
}

.main-info {
  margin-right: auto;
  margin-left: 64px;
}

.redirection-buttons {
  display: flex;
  align-items: center;
}

.redirection-buttons ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.redirection-buttons ul li {
  margin-left: 16px;
}

.redirection-buttons ul li a {
  position: relative;
  display: block;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
  z-index: 1;
}

.redirection-buttons ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
}

.redirection-buttons ul li a:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}

.redirection-buttons ul li a:hover {
  color: #fff;
}

.redirection-buttons ul li a:hover:before, .redirection-buttons ul li a:hover:after  {
  transform: scaleY(1);
  opacity: 1;
}

/* CONTENT OF THE MAIN PAGE */

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90em;
  background-color: var(--black-bg);
  color: white;
  margin: -8px;
}

.activities {
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.activities, .offers h2 {
  text-align: center;
}

.offers li {
  perspective: 400px;
}

.services-info {
  transform: rotate3d(1, 0, 0, 90deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  pointer-events: none;
  background-color: var(--blue);
}

.in-top .services-info {
  transform-origin: 50% 0%;
  -webkit-animation: in-top 300ms ease 0ms 1 forwards;
          animation: in-top 300ms ease 0ms 1 forwards;
}

.in-right .services-info {
  transform-origin: 100% 0%;
  -webkit-animation: in-right 300ms ease 0ms 1 forwards;
          animation: in-right 300ms ease 0ms 1 forwards;
}

.in-bottom .services-info {
  transform-origin: 50% 100%;
  -webkit-animation: in-bottom 300ms ease 0ms 1 forwards;
          animation: in-bottom 300ms ease 0ms 1 forwards;
}

.in-left .services-info {
  transform-origin: 0% 0%;
  -webkit-animation: in-left 300ms ease 0ms 1 forwards;
          animation: in-left 300ms ease 0ms 1 forwards;
}

.out-top .services-info {
  transform-origin: 50% 0%;
  -webkit-animation: out-top 300ms ease 0ms 1 forwards;
          animation: out-top 300ms ease 0ms 1 forwards;
}

.out-right .services-info {
  transform-origin: 100% 50%;
  -webkit-animation: out-right 300ms ease 0ms 1 forwards;
          animation: out-right 300ms ease 0ms 1 forwards;
}

.out-bottom .services-info {
  transform-origin: 50% 100%;
  -webkit-animation: out-bottom 300ms ease 0ms 1 forwards;
          animation: out-bottom 300ms ease 0ms 1 forwards;
}

.out-left .services-info {
  transform-origin: 0% 0%;
  -webkit-animation: out-left 300ms ease 0ms 1 forwards;
          animation: out-left 300ms ease 0ms 1 forwards;
}

@-webkit-keyframes in-top {
  from {
    transform: rotate3d(-1, 0, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes in-top {
  from {
    transform: rotate3d(-1, 0, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@-webkit-keyframes in-right {
  from {
    transform: rotate3d(0, -1, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes in-right {
  from {
    transform: rotate3d(0, -1, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@-webkit-keyframes in-bottom {
  from {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes in-bottom {
  from {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@-webkit-keyframes in-left {
  from {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes in-left {
  from {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@-webkit-keyframes out-top {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(-1, 0, 0, 104deg);
  }
}
@keyframes out-top {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(-1, 0, 0, 104deg);
  }
}
@-webkit-keyframes out-right {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(0, -1, 0, 104deg);
  }
}
@keyframes out-right {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(0, -1, 0, 104deg);
  }
}
@-webkit-keyframes out-bottom {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 0, 0, 104deg);
  }
}
@keyframes out-bottom {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 0, 0, 104deg);
  }
}
@-webkit-keyframes out-left {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 104deg);
  }
}
@keyframes out-left {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 104deg);
  }
}

.offers ul {
  padding: 0;
  margin: 0 0 50px;
}
.offers ul:after {
  content: "";
  display: table;
  clear: both;
}

.offers li {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  margin: 5px;
  padding: 0;
  list-style: none;
}

.offers li a {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  border-radius: 4px;
}

.offers li h3 {
  margin: 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}

.offers li p {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}

.offers li .svg-show {
  width: 100%;
  height: 100%;
  background-color: #ECF0F1 ;
  color: rgba(11, 75, 138, 0.6);
  box-shadow: inset 0 2px 20px #e6ebed;
  text-align: center;
  font-size: 50px;
  line-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offers li .svg-show svg {
  pointer-events: none;
  width: 100px;
}

.offers li .svg-show svg path {
  fill: var(--grey);
}

.offers li .svg-show svg polygon {
  fill: var(--grey);
}

* {
  box-sizing: border-box;
}

.offers h1 {
  margin: 0 auto 5px;
  text-align: center;
}

.offers h3 {
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.offers-container {
  max-width: 840px; 
  margin: 0 auto; 
}

.offers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  justify-content: center;
  text-align: center; 
}

.offers li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LOWER PART OF THE SITE*/

.lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black-bg);
  color: white;
  margin: -8px;
}

.address {
  text-align: center;
}

.contact-button {
  align-items: center;
  background-color: transparent;
  color: var(--blue);
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
}

.contact-button:before {
  background-color: var(--blue);
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 0;
}

.contact-button:hover:before {
  background-color: var(--blue);
  width: 3rem;
}

